.login{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
    font-size: 20px;
  
    .form{
        display: flex;
        flex-direction: column;
        gap: 10px;

    

            .p1{
                height: 30px;
                width: 290px;
            }
    
 
    }

    h6{
        font-size: 20px;
    }
    .button{
        width: 70px;
        height: 28px;
        background-color: rgb(47, 126, 236);
        color: beige;
        border-radius: 5px;
    }

}